@model BilgeHotel.MVCUI.Areas.Management.Data.ViewModels.ManagerVMs.RoomListPageVM
@{
    ViewBag.Title = "RoomList";
    Layout = "~/Areas/Management/Views/Shared/_LayoutArea.cshtml";
}

<h2>RoomList</h2>

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th> ID</th>
                    <th>Kat numarası</th>
                    <th class="hidden-phone">Oda numarası</th>
                    <th class="hidden-phone">Kapasite</th>
                    <th class="hidden-phone">Gecelik ücret</th>
                    <th class="hidden-phone">Oda tipi</th>
                    <th class="hidden-phone">Oda durumu</th>
                    <th class="hidden-phone">Açıklama</th>
                    <th class="hidden-phone">Oluşturma tarihi</th>
                    <th class="hidden-phone">Güncellenme tarihi</th>
                    <th class="hidden-phone">Silinme tarihi</th>
                    <th class="hidden-phone">Veri durumu</th>
                    <th class="hidden-phone" colspan="2" style="text-align:center">İşlemler</th>

                </tr>
            </thead>
            <tbody>

                @foreach (BilgeHotel.MVCUI.Areas.Management.Data.ViewModels.PureVMs.RoomVM item in Model.RoomVMs)
                {
                    <tr class="gradeX">

                        <td>@item.RoomID</td>
                        <td>@item.FloorNumber</td>
                        <td class="hidden-phone"> @item.RoomNumber</td>
                        <td class="hidden-phone"> @item.Capacity</td>
                        <td class="hidden-phone"> @item.PricePerNight</td>
                        <td class="hidden-phone"> @item.RoomType</td>
                        <td class="hidden-phone"> @item.RoomStatus</td>

                        @foreach (BilgeHotel.MVCUI.Areas.Management.Data.ViewModels.PureVMs.RoomFeatureVM feature in Model.RoomFeatureVMs)
                        {
                            if (item.RoomFeatureID==feature.RoomFeatureID)
                            {
                                <td class="hidden-phone"> @feature.Description</td>
                            }
                        }

                        <td class="hidden-phone"> @item.CreatedDate</td>
                        <td class="hidden-phone"> @item.ModifiedDate</td>
                        <td class="hidden-phone"> @item.DeletedDate</td>

                        <td class="center hidden-phone">@item.Status</td>

                        <td class="center hidden-phone"> @Html.ActionLink("Sil", "DeleteRoom", new { id = item.RoomID }, new { @class = "btn btn-danger" })  </td>
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateRoom", new { id = item.RoomID }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }





            </tbody>
        </table>

    </div>
</div>

<script src="~/Areas/Admin/AdminScripts/AdminCategoryDTJ.js"></script>