@model AdminRoomVM

@{
    ViewBag.Title = "UpdateRoom";
    Layout = "~/Areas/Management/Views/Shared/_LayoutArea.cshtml";
}

<h2>UpdateRoom</h2>

@using (Html.BeginForm("UpdateRoom", "Room", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-12">
            @Html.HiddenFor(x => x.RoomID)
            <section class="panel">
                <header class="panel-heading">
                    Oda Güncelleme
                </header>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2">Kat Numarası:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.FloorNumber, new { @readonly = "readonly" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Oda Numarası:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.RoomNumber, new { @readonly = "readonly" })
                        </div>
                    </div>
                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">Kapasite:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Capacity, new { @readonly = "readonly" }))
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Gecelik Ücret:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PricePerNight, new { @class = "form-control-genislik" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Oda Tipi:</label>
                        <div class="col-sm-10">
                            @Html.EnumDropDownListFor(x => x.RoomType, new { @readonly = "readonly" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Oda Durumu:</label>
                        <div class="col-sm-10">
                            @Html.EnumDropDownListFor(x => x.RoomStatus, new { @class = "form-control-genislik" })
                        </div>
                    </div>
                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">İşlem:</label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>


                </div>


            </section>


        </div>
    </div>



}