@model ReservationsListPageVM
@{
    ViewBag.Title = "ListReservations";
    Layout = "~/Areas/Management/Views/Shared/_LayoutArea.cshtml";
}

<h2>Rezervasyonları Gör</h2>

<header class="panel-heading">
    @Html.ActionLink("Geçmiş Rezervasyonları Gör", "ListPastReservations", "Sales", new { @class = "btn btn-primary" })
    @Html.ActionLink("Bugün Biten Rezervasyonlar", "ListTodayEndedReservations", "Sales", new { @class = "btn btn-primary" })

</header>

<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Giriş Tarihi</th>
            <th scope="col">Çıkış Tarihi</th>
            <th scope="col">Adı Soyadı</th>
            <th scope="col">Yetişkin Sayısı</th>
            <th scope="col">Çocuk Sayısı</th>
            <th scope="col">Tipi</th>
            <th scope="col">Paket</th>
            <th scope="col">Toplam Ücret</th>
            <th scope="col">Oluşturma Tarihi</th>
            <th scope="col">Güncelleme Tarihi</th>
            <th scope="col">Silinme Tarihi</th>
            <th scope="col">Durumu</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservationVM reservation in Model.ReservationsVMs)
        {
            <tr>
                <td>@reservation.ReservationID</td>
                <td>@reservation.CheckInDate</td>
                <td>@reservation.CheckOutDate</td>
                @foreach (AppUserVM appUser in Model.UserVMs)
                {
                    if (appUser.AppUserID == reservation.AppUserID)
                    {
                        <td>@appUser.FirstName @appUser.LastName</td>
                    }
                }

                <td>@reservation.AdultCount</td>
                <td>@reservation.ChildrenCount</td>
                <td>@reservation.Type</td>
                <td>@reservation.Package</td>
                <td>@reservation.TotalPrice</td>
                <td>@reservation.CreatedDate</td>
                @if (@reservation.ModifiedDate == null)
                {
                    <td>Henuz güncellenmedi</td>
                }
                else
                {
                    <td>@reservation.ModifiedDate</td>
                }
                @if (@reservation.DeletedDate == null)
                {
                    <td>Henuz silinmedi</td>
                }
                else
                {
                    <td>@reservation.DeletedDate</td>
                }

                <td>@reservation.Status</td>
                <td>@Html.ActionLink("Detay Gör", "RoomAndGuests", new { reservationID = reservation.ReservationID }, new { @class = "btn btn-warning" })</td>

            </tr>

        }

    </tbody>
</table>




